.container {
    
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color: gray;
    background-color: white;
    padding: 2%;
    box-shadow:3px 3px 20px 1px black;

    
}

h2 {
    
    color: black;
    
}